:root {
    --mx-color-gray: #EFF2F9;
    --mx-color-wite: #FFFFFF;
    --mx-color-black: #091A24;
    --mx-color-greys: #CCD0D4;
    --mx-color-dark: #787777;
    --mx-color-blue: #0376DA;
    --mx-color-light-grey: #F5F5F5;
    --mx-color-dark-gray: #727272;
    --mx-color-light: #E9F5FC;
    --poppins-font: 'Poppins', sans-serif;
    --raleway-font: 'Raleway', sans-serif;
}

* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Poppins';
    src: url(/assets/fonts/Poppins.ttf) format("truetype");
}

@font-face {
    font-family: 'Raleway';
    src: url(/assets/fonts/Raleway.ttf) format("truetype");
}


img {
    height: auto;
    max-width: 100%;
}

.media-sidebar {
    font-family: var(--poppins-font);
}

/* Mxupload settings banner statrt */
.mxupload-settings-banner {
    background-color: #091A24;
    display: flex;
    flex-direction: row;
    padding: 30px 40px;
    margin: 30px 0;
    width: 98%;
}

#wpbody-content {
    margin-top: 25px;
}

.logo-title-content {
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.banner-title h1 {
    font-size: 42px;
    line-height: 50px;
    font-weight: 700;
    color: #FFFFFF;
    padding-left: 20px;
    padding-right: 20px;
    text-align: start;
    font-family: var(--raleway-font);
}

.review-content {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.logo-title-content .logo img {
    width: 90%;
    height: 90%;
    object-fit: fill;
}

.review-content h2 {
    font-size: 20px;
    line-height: 23px;
    font-weight: 700;
    color: #FFFFFF;
    margin: 0;
    padding-bottom: 10px;
    font-family: var(--raleway-font);
}

.review-content p {
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    color: #FFFFFF;
    margin: 0;
    padding-bottom: 10px;
    font-family: var(--raleway-font);
}

.review-content p a {
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    color: #0376DA;
    font-family: var(--raleway-font);
}

.review-img {
    max-width: 150px;
}


/* Mxupload settings banner end */

.mxupload-settings-content-area .tabs {
    display: none;
}

.mxupload-settings-wrapper {
    box-shadow: 0px 0px 10px 0px #0000001F;
    border: 1px solid var(--mx-color-greys);
    margin-right: 30px;
}

.mxupload-settings-footer {
    background-color: var(--mx-color-wite);
    padding: 20px 30px;
    text-align: right;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.mxupload-settings-area {
    display: flex;
    align-items: stretch;
    flex-direction: row;
    height: 660px;
}

.mxupload-settings-nav-area {
    width: 20%;
    background-color: var(--mx-color-wite);
    border-right: 1px solid var(--mx-color-greys);
}

.mxupload-settings-content-area {
    width: 80%;
    background-color: var(--mx-color-gray);
    position: relative;
    padding-bottom: 85px;
}

#mxupload-settings img {
    max-width: 100%;
}

.maxupload-content-nav-area {
    position: sticky;
    top: 32px;
    max-width: 100%;
}

.mxupload-settings-brand a {
    display: block;
    padding: 8px 15px;
    text-align: center;
    border-bottom: 1px solid #dbcfcfdd;
}

.mxupload-settings-brand img {
    max-height: 60px;
}

.mxupload-settings-content-header {
    background-color: var(--mx-color-wite);
    padding: 15px 30px;
    position: sticky;
    top: 32px;
}

.mxupload-settings-content-header h2 {
    margin: 0;
    font-family: var(--poppins-font);
    font-size: 32px;
    font-weight: 600;
    line-height: 48px;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    column-gap: 15px;
    font-family: var(--poppins-font);
}

.mxupload-settings-content-header h2 .mxupload-cheading-icon {
    display: flex;
    width: 50px;
    height: 50px;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    background-color: var(--mx-color-light);
}

#mxupload-settings .mxupload-nav-icon img,
#mxupload-settings .mxupload-cheading-icon img {
    max-width: 30px;
    max-height: 30px;
}

.mxupload-settings-content {
    margin: 30px;
    background-color: var(--mx-color-wite);
    padding: 25px;
    max-height: 520px;
    overflow-y: auto;
    overflow-x: hidden;
    /* overflow: scroll; */
}

#mxupload-settings-wrapper ::-webkit-scrollbar {
    width: 5px;
}

#mxupload-settings-wrapper ::-webkit-scrollbar-thumb {
    background-color: var(--mx-color-dark);
    border-radius: 10px;
}

#mxupload-settings {
    max-width: 98%;
}

.mxupload-settings-nav-area .mxupload-nav-item {
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.mxupload-settings-nav-area .mxupload-nav-title h4 {
    font-family: var(--poppins-font);
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    color: var(--mx-color-black);
    margin: 0;
}

.mxupload-settings-nav-area .mxupload-nav-title p {
    font-family: var(--poppins-font);
    font-size: 15px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: var(--mx-color-dark-gray);
    margin: 0;
    padding-top: 4px;
}

.mxupload-nav-wrapper {
    margin: 0;
}

.mxupload-settings-nav-area .mxupload-nav-wrapper li {
    margin: 0;
}

.mxupload-settings-nav-area .mxupload-nav-wrapper li a {
    text-decoration: none;
    padding: 20px;
    display: block;
}

.mxupload-settings-nav-area .mxupload-nav-wrapper li.active {
    background-color: var(--mx-color-light);
    border-right: 3px solid var(--mx-color-blue);
}

#mxupload-settings .mxupload-cheading-icon img,
.mxupload-settings-nav-area .mxupload-nav-wrapper li.active img {
    filter: invert(8) sepia(1) saturate(5) hue-rotate(175deg);
}

.mxupload-settings-nav-area .mxupload-nav-wrapper li.active h4 {
    color: var(--mx-color-blue);
}

.mxupload-btn,
.btn-generate-report,
.btn-primary {
    font-size: 16px;
    border: 0;
    min-width: 160px;
    margin: auto;
    border-radius: 5px;
    background-color: var(--mx-color-blue);
    color: var(--mx-color-wite);
    font-family: var(--poppins-font);
    font-weight: 500;
    padding: 10px 15px;
    cursor: pointer;
    border: 1px solid var(--mx-color-blue);
    transition: all 0.4s ease-in-out;
}

.mxupload-btn:hover {
    background-color: #000;
}

.mxupload-settings-footer .mxupload-btn:hover,
.btn-generate-report:hover,
.btn-primary:hover {
    background-color: var(--mx-color-light);
    color: var(--mx-color-blue);
}

.mxupload-settings-content-header .mxupload-cheading-icon img {
    filter: invert(8) sepia(1) saturate(5) hue-rotate(175deg);
}

.tabs.active {
    display: block;
}

.mxupload-nav-wrapper li.active {
    color: var(--mx-color-blue);
    background-color: var(--mx-color-light);
    border-right: 3px solid var(--mx-color-blue);
}

#mxupload-settings-wrapper a:focus {
    outline: none;
    box-shadow: none;
}

.mxupload-size-wrapper {
    display: flex;
    column-gap: 10%;
    justify-content: space-between;
    max-height: 385px;
}

.mxupload-size-text {
    width: 59%;
}

.mxupload-size-settings {
    width: 25%;
}

.mxupload-size-settings .mxupload-limit-wrapper {
    display: flex;
    flex-direction: column;
}

.mxupload-limit-wrapper+.mxupload-limit-wrapper {
    margin-top: 16px;
}

.mxupload-limit-wrapper label {
    font-family: var(--poppins-font);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: var(--mx-color-black);
}

.mxupload-limit-wrapper input[type=number],
.mxupload-limit-wrapper input[type=text],
.mxupload-limit-wrapper select {
    border-radius: 5px 0px 0px 5px;
    border: 1px solid #CCD0D4;
    background-color: #F2F2F2;
    padding: 10px 30px;
    font-family: var(--poppins-font);
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    text-align: right;
    width: auto;
    min-width: auto;
    min-height: auto;
    max-width: 100%;
    margin: 0;
}

.mxupload-limit-wrapper select {
    border-radius: 0 5px 5px 0;
    border-left: 0;
    padding-left: 20px;
    text-align: left;
}

.mxupload-limit-wrapper>.bfsew {
    display: flex;
}

.mxupload-limit-wrapper input[type=number],
.mxupload-limit-wrapper input[type=text] {
    /* max-width: 200px; */
    width: 100%;
    padding: 10px;
}

.mxupload-limit-wrapper input[type=number]:focus,
.mxupload-limit-wrapper input[type=text]:focus,
.mxupload-limit-wrapper select:focus {
    box-shadow: none;
    border-color: #CCD0D4;
}

.mxupload-byrole .bfsw_checkbox {
    display: flex;
    flex-direction: row-reverse;
    font-size: 16px;
    margin-bottom: 16px;
}

.mxupload-byrole {
    margin-bottom: 16px;
    text-align: end;
}

.custom-control-input {
    opacity: 0;
}

.custom-control-label {
    position: relative;
    font-size: 16px;
    font-weight: 500;
    font-family: var(--poppins-font);
    padding-top: 3px;
}

.custom-control-label::before,
.custom-control-label::after {
    content: '';
    position: absolute;
    display: block;
    transition: all 0.2s linear;
}

.custom-control-label::before {
    left: -38px;
    width: 30px;
    pointer-events: all;
    border-radius: 18px;
    top: 3px;
    background-color: var(--mx-color-wite);
    border: 1px solid #adb5bd;
    height: 16px;

}

.custom-control-label::after {
    width: 12px;
    height: 12px;
    background-color: #adb5bd;
    border-radius: .5rem;
    top: 6px;
    left: -34px;
}

.custom-control-input:checked~.custom-control-label::before {
    color: var(--mx-color-wite);
    border-color: rgba(38, 169, 224, 1);
    background-color: rgba(38, 169, 224, 1);
}

.custom-switch .custom-control-input:checked~.custom-control-label::after {
    background-color: var(--mx-color-wite);
    -webkit-transform: translateX(.75rem);
    transform: translateX(.75rem);
}

.user-role-wrapper,
#mxupload_php_ini_config .mxupload-settings-footer {
    display: none;
}

.mxupload-size-settings.is-active .user-role-wrapper {
    display: block;
    padding-bottom: 30px;
}

.mxupload-size-settings.is-active .bfsw_mxsetting_upload_size_all_user_format {
    display: none;
}

.notice-success-wrapper,
.notice-error-wrapper {
    border-radius: 5px;
    position: relative;
    padding: 6px 40px 6px 14px;
    margin: 24px 30px 24px 0;
}

.notice-error-wrapper {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.notice-success-wrapper {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.notice-success-wrapper .notice-dismiss,
.notice-error-wrapper .notice-dismiss {
    top: 50%;
    transform: translateY(-50%);
}

.notice-success-wrapper p,
.notice-error-wrapper p {
    font-size: 16px;
    font-family: var(--poppins-font);
    line-height: 1;
}

.mxupload-size-settings .bfs-info {
    display: flex;
    align-items: center;
    gap: 6px;
    order: 2;
    margin-top: 5px;
    font-family: var(--poppins-font);
}

.mxupload-size-settings .bfs-info img {
    width: auto;
    height: 16px;
    filter: brightness(0);
}

.mxupload-size-settings .bfs-info p {
    position: relative;
    margin: 0;
    line-height: 1;
}

.mxupload-size-settings .bfs-info p span {
    position: absolute;
    width: 122px;
    padding: 10px;
    font-size: 14px;
    line-height: 1.2;
    display: block;
    z-index: 999;
    background: #f2f2f2;
    border-radius: 6px;
    box-shadow: 0 5px 18px rgba(0, 0, 0, -0.72), 0 5px 14px rgba(0, 0, 0, 0.22);
    top: -76px;
    text-align: center;
    left: -78px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s linear;
    pointer-events: none;
}

.mxupload-size-settings .bfs-info p:hover span {
    visibility: visible;
    opacity: 1;
}

.mxupload-heading {
    color: var(--mx-color-black);
    font-size: 22px;
    line-height: 1;
    text-transform: capitalize;
    margin-top: 0;
    font-family: var(--poppins-font);
}

.mxupload-size-text p {
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    font-family: var(--poppins-font);
}

/* ================================
    Storage Usage Analysis
================================ */

.card-section .card-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 5%;
}

.card-content-wrapper {
    width: 55%;
}

.mxupload-doughnut-wrapper {
    width: 40%;
}

.card-section .mx-heading {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 1.2;
    font-family: var(--poppins-font);
}

.card-section .mx-text {
    font-size: 36px;
    line-height: 54px;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--mx-color-black);
    margin-bottom: 20px;
    display: block;
    font-family: var(--poppins-font);
}

.card-section .text-muted {
    font-size: 24px;
    line-height: 42px;
    font-weight: 500;
    font-family: var(--poppins-font);
}

table {
    border-collapse: collapse;
}

.card-section table {
    width: 70%;
    font-size: 20px;
    line-height: 1.2;
}

.card-section table th {
    text-align: left;
    color: #9F9F9F;
    font-weight: 400;
    border-bottom: 1px solid #9F9F9F;
    padding: 12px 0;
    font-family: var(--raleway-font);
}

.card-section table td {
    padding: 6px 0;
}

.card-section table td,
.card-section table td .file-label {
    color: var(--mx-color-black);
    font-family: var(--poppins-font);
}

.card-section table td .file-label {
    margin: 0;
    font-size: 20px;
    line-height: 1.2;
    font-family: var(--poppins-font);
}

.card-section table .mxupload-color {
    width: 15px;
    height: 15px;
    display: inline-block;
    border-radius: 6px;
}

.card-section table tr td:first-child {
    display: flex;
    align-items: center;
    gap: 10px;
}

.card-section table tr:nth-child(1) td {
    padding-top: 16px;
    font-family: var(--poppins-font);
}

#mxupload-doughnut-chart {
    width: 600px;
    height: 400px;
}

.card-block {
    text-align: center;
}

.card-block .main-title {
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    margin-top: 0;
    margin-bottom: 16px;
    font-family: var(--poppins-font);
}

.card-block .lead {
    margin: 0 0 40px 0;
    font-size: 16px;
    line-height: 1.2;
    font-family: var(--poppins-font);
}

#mxupload_storage_analysis .mxupload-settings-footer {
    display: none;
}

#mxupload_storage_analysis .card-section .mxupload-settings-footer {
    display: block;
}

#mxupload_storage_analysis .loader {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    background: #fff;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
}

#mxupload_storage_analysis .loader svg {
    width: auto;
    height: 100px;
}

.error-text {
    font-size: 20px;
    line-height: 1.2;
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    border-radius: 6px;
    padding: 10px;
    font-family: var(--poppins-font);
}

/* ================================
    About Us
================================ */
#mxupload_about_us .mxupload-settings-footer {
    display: none;
}

#mxupload_about_us .mxupload-bfs-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

#mxupload_about_us .mxupload-image-block {
    background-color: var(--mx-color-black);
    padding: 44px;
    display: flex;
    align-items: center;
    height: 80%;
}

#mxupload_about_us .mxupload-image-block img {
    display: block;
}

#mxupload_about_us .mxupload-abount-content {
    display: grid;
    grid-template-columns: 60% 40%;
    justify-content: space-between;
    margin-bottom: 40px;
}

#mxupload_about_us .mxupload-about-block .mxupload-heading {
    font-size: 26px;
    line-height: 39px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 16px;
    font-family: var(--poppins-font);
}

#mxupload_about_us .mxupload-about-block p {
    font-size: 16px;
    line-height: 24px;
    color: #000;
    margin: 0;
    font-family: var(--poppins-font);
}

#mxupload_about_us .mxupload-about-block p+p {
    margin-top: 18px;
}

#mxupload_about_us .mxupload-about-content-wrap {
    padding: 30px 30px 30px 0;
}

#mxupload_about_us .mxupload-about-content-wrap a{
    text-decoration: none;
}

#mxupload_about_us .mxupload-plist {
    background-color: var(--mx-color-light-grey);
    padding: 25px;
}

#mxupload_about_us .mxupload-plist .text-with-media img {
    width: auto;
    height: 80px;
}

#mxupload_about_us .text-with-media {
    display: flex;
    /* align-items: center; */
    gap: 16px;
    margin-bottom: 24px;
}

.mxupload-heading-wrapper .plugin-heading {
    margin-top: 0;
    margin-bottom: 6px;
    font-size: 25px;
    line-height: 30px;
    font-weight: 500;
    color: var(--mx-color-blue);
    font-family: var(--poppins-font);
}

#mxupload_about_us .mxupload-about-block .mxupload-description {
    color: var(--mx-color-dark);
    margin-bottom: 24px;
}

#mxupload_about_us .mxupload-plists {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
}

#mxupload_about_us .btn-download {
    display: inline-block;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    background-color: var(--mx-color-blue);
    color: var(--mx-color-wite);
    font-family: var(--poppins-font);
    padding: 10px 15px;
    line-height: 1.2;
}

#mxupload_about_us .btn-download:hover {
    background-color: var(--mx-color-light);
    color: var(--mx-color-blue);
}

#mxupload_about_us .btn-download.button-disabled {
    pointer-events: none;
}

#mxupload_php_ini_config .php-section table {
    width: 100%;
}

#mxupload_php_ini_config .php-section table,
#mxupload_php_ini_config .php-section table td,
#mxupload_php_ini_config .php-section table th {
    border: 1px solid #9F9F9F;
    line-height: 1;
    padding: 16px;
    font-family: var(--poppins-font);
    font-size: 16px;
    font-weight: 500;
}

#mxupload_php_ini_config .php-section table th {
    padding: 22px;
}

#mxupload_php_ini_config .php-section table p {
    margin: 0;
    font-size: 16px;
    line-height: 1;
}

#mxupload_php_ini_config .php-section table th:not(:nth-child(2)) {
    text-align: left;
}

#mxupload_php_ini_config .php-section table tr td:nth-child(2) {
    text-align: center;
}

#mxupload_php_ini_config .php-section table thead {
    background-color: var(--mx-color-black);
    color: var(--mx-color-wite);
}

#mxupload_php_ini_config .php-section table svg {
    width: auto;
    height: 24px;
    fill: green;
}

@media screen and (max-width: 1440px) {
    .mxupload-settings-nav-area {
        width: 30%;
    }

    .mxupload-settings-content-area {
        width: 70%;
    }

    .card-content-wrapper {
        width: 70%;
    }

    .mxupload-doughnut-wrapper {
        width: 30%;
    }

    #mxupload_about_us .mxupload-abount-content {
        grid-template-columns: 70% 30%;
    }

    #mxupload_about_us .mxupload-image-block {
        height: 50%;
    }
}

@media screen and (max-width: 1260px) {

    .mxupload-settings-nav-area {
        width: 35%;
    }

    .mxupload-settings-content-area {
        width: 65%;
    }

    .mxupload-settings-banner {
        flex-direction: column;
    }

    .logo-title-content {
        width: 100%;
    }

    .review-content {
        width: 100%;
        align-items: flex-start;
        padding-top: 10px;
    }

    .mxupload-size-wrapper {
        flex-direction: column;
    }

    .mxupload-size-text {
        width: 100%;
    }

    .mxupload-byrole {
        text-align: start;
        padding-top: 20px;
        margin-left: 15px;
    }

    .mxupload-size-settings {
        width: 50%;
    }

    .card-section .card-wrapper {
        flex-direction: column;
    }

    .card-section table {
        width: 100%;
    }

    .card-content-wrapper {
        width: 100%;
        padding-bottom: 50px;
    }

    .mxupload-doughnut-wrapper {
        width: 100%;
    }

    #mxupload_about_us .mxupload-abount-content {
        grid-template-columns: 100% 0%;
    }

    #mxupload_about_us .mxupload-bfs-image {
        display: none;
    }

    #mxupload_about_us .mxupload-about-content-wrap {
        padding: 0;
    }

    #mxupload_about_us .mxupload-plists {
        grid-template-columns: repeat(1, 1fr);
        gap: 32px;
    }
}

@media screen and (max-width: 849px) {
    .banner-title h1 {
        font-size: 35px;
        line-height: 35px;
        margin: 0;
    }
}


@media screen and (max-width: 769px) {
    .mxupload-size-settings {
        width: 100%;
    }
}